{% extends "dating/homepage-base.html" %}
{% block content %}         
    {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'dating-home' %}">Home</a>
            <a href="{% url 'user-profile' user.username %}">Profile</a>
        </nav>
        <hr>
        <h3>These are available people requested to chat with you.. you can either accept or deny</h3>
        {% for u in object.users %}
            {% if u.username in user.chatrequests.chat_request and u.username not in user.chatrequests.match and u.username not in user.chatrequests.ban %}
            <article>
                <hr>
                    <h3>{{u.username}}</h3>
                    <img src="{{ u.profile.image.url }}">
                    <div>
                        <p>gender:{{u.profile.gender}}</p>
                        <p>age:{{u.profile.age}}</p>
                        <p>status:{{u.profile.status}}</p>
                        <p>email:{{u.email}}</p>
                        <p>hobbies:{{u.profile.hobbies}}</p>
                    </div>
                    <form method="POST">
                        {%csrf_token%}
                        <fieldset>
                            <button type="submit" name="user_decision" value="{{u.username}}accept">Accept</button>
                            <button type="submit" name="user_decision" value="{{u.username}}reject">Reject</button>
                        </fieldset>
                    </form>
                    <hr>
                </article>
            {%endif%}
        {% endfor %}
    {%endif%}
{%endblock content%}
