<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
  </head>
  <body>
    <h1>Chat with {{user_2.username}}</h1>
    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">      
              <ul class="list-unstyled">
                {%for message in chat%}
                    {%for i in message %}
                        {%if i in user1_check%}
                            <li class="d-flex justify-content-between mb-4">
                                <div class="card w-100">
                                    <div class="card-header d-flex justify-content-between p-3">
                                        <p class="fw-bold mb-0">{{user_1.username}}</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-0">
                                            {%for i in message %}
                                                {%if i not in user_list%}
                                                    {{i}}
                                                {%endif%}
                                            {%endfor%}
                                        </p>
                                    </div>
                                </div>
                                <img src="{{user_1.profile.image.url}}" alt="avatar"
                                class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                            </li>
                        {%elif i in user2_check%}
                            <li class="d-flex justify-content-between mb-4">
                                <img src="{{user_1.profile.image.url}}" alt="avatar"
                                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between p-3">
                                        <p class="fw-bold mb-0">{{user_2.username}}</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-0">
                                            {%for i in message %}
                                                {%if i not in user_list%}
                                                    {{i}}
                                                {%endif%}
                                            {%endfor%}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {%endif%}
                    {%endfor%}
                {%endfor%}
                <li class="bg-white mb-3">
                    <form method="POST">
                        {%csrf_token%}
                        <fieldset>
                            <div class="form-outline">
                                <textarea class="form-control" id="textAreaExample2" name="message" rows="4"></textarea>
                                <label class="form-label" for="textAreaExample2">Message</label>
                                <button type="submit" class="btn btn-info btn-rounded float-end">Send</button>
                            </div>
                        </fieldset>
                    </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
