<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <nav>
        <a href="{% url 'account_logout' %}">Logout</a>    
    </nav>
    {%endif%}
    <nav>
        <a href="{%url 'dating-home'%}">Home</a>
        <a href="{%url 'user-profile' user.username%}">Profile</a>
        <a href="{%url 'user-chat' user.username%}">Check chat requests</a>
    </nav>
    <h1>PILANI DATING SITE</h1>
    <h2>You can see the people you are chatting with here</h2>
    {{object.users}}
    {% for u in object.users %}
        {% if u.username in user.chatrequests.match %}
            <article>
                <hr>
                <div>
                    <a href="{%url 'chat-with-user' u.username %}">{{ u.username }}</a>

                    {% for i in object.message_left %}
                        {%if i.0 == u.username%}
                            <p>Number of unread messages= {{i.1}}</p>
                        {%endif%}
                    {%endfor%}
                </div>
                <hr>
            </article>
        {%endif%}
    {% endfor %}
</body>
</html>