{% extends "dating/homepage-base.html" %}
{% block content %}         
    {% if user.is_authenticated %}
        <nav>
            <a href="{{user.username}}/profile">Profile</a>
            <a href="{{user.username}}/chat-requests">Check chat requests</a>
            <a href="{%url 'chat-home'%}">Go to current chats</a>

        </nav>
        <hr>
        <h3>These are available people whom you can connect with</h3>
        <form method="POST">
            {%csrf_token%}
            <fieldset>
                <label for="fname">Search</label>
                <input type="text" id="fname" name="search"> 
                <button type="submit">search🔍</button>
            </fieldset>
        </form>
        <hr>
        {{users_found}}
        {% for u in users_found %}
            <article>
                <hr>
                <div>
                    <a href="{%url 'user-profile-check' u.0%}">{{ u.0 }}</a>
                </div>
                <hr>
            </article>


        {% endfor %}
    {%endif%}
{%endblock content%}
