<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load socialaccount %}
<body>
    {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'account_logout' %}">Logout</a>    
            <h1>PILANI Dating Site</h1>
        </nav>
    {% else %}
        <h1>Login to use the dating site</h1>
        <a href="{%url 'moderator-login'%}">Moderator login</a>
        <!-- <a href="{%url 'account_login'%}">User login with Google</a> -->
        <a href="{% provider_login_url 'google' %}">User login with Google</a>
    {% endif %}

    {%block content%}
    {%endblock%}

</body>
</html>




